extends ../layout

block content
    h1= title
    if (user)
        p(style="text-transform: capitalize; font-weight: bold;") #{date.toString("dddd")} #{date.toString("d/M/yyyy")}
        ul.pager
            li.previous
                - var prev = "/sessions/" + date.add(-1).days().toString('d/M/yyyy');
                a(href=prev) &larr; Dia anterior
            li.next
                - var next = "/sessions/" + date.add(2).days().toString('d/M/yyyy');
                a(href=next) Dia següent &rarr;
        if sessions && sessions.length > 0
            p Hola #{user.username}, aquestes son les classes que tens per aquest dia
            table.table.table-hover
                thead
                    tr
                        th Hora
                        th Assignatura
                        th Tipus
                        th Aula
                each session in sessions
                    tbody
                        tr
                            td= session.timestamp_start.toString("HH:mm")
                            td= session.subject
                            td= session.type
                            td= session.classroom
        else
            p(style='text-align:center;font-size:20px;') Hola #{user.username}, avui tens el dia lliure.